#AddHandler cgi-script .cgi .rb
#Options +FollowSymLinks +ExecCGI

RewriteEngine On
RewriteBase /~samli/api

RewriteRule ^$ dispatch.cgi
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ dispatch.cgi/$1 [L]

  <IfModule mod_ssl.c>
    AuthName "Restricted to CSE Users"
    AuthType Basic
    AuthYP On

    require valid-user
  </IfModule>
  <IfModule !mod_ssl.c>
    Redirect /~samli/api https://cgi.cse.unsw.edu.au/~samli/api
  </IfModule>


# Debugger
#
#<Files "dispatch.cgi">
#SetHandler application/x-setuid-cgid
#</Files>
