<!DOCTYPE html>
<html lang="en">
  <head>
    <title>CSEnatra</title>
  </head>


  <body>
    <h1>Sinatra running on CSE</h1>
    <pre><code>
<%= @info.inspect.split("\",").join("\",\n") %>
    </code></pre>
  </body>
</html>
